/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    background-color: #0d0d1a;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* .container {
    display: flex;
    height: 100vh;
    overflow: hidden;
} */

.sidebar {
    position: fixed;
    top: 20vh;
    left: 5vw; /* Adjusted left margin */
    height: 60vh;
    width: 10vw; /* Adjusted width */
    background-color: #1a1a33;
    padding: 1.5rem 1rem; /* Adjusted padding */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 30px; /* Rounded pill shape */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center items vertically */
    transform: translateX(-20px); /* Adjusted for smaller width */
    transition: transform 0.3s ease;
    z-index: 1000; /* Ensure it's above other content */
}

#privacy-policy, #terms {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 2rem;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #8ba3b8;
    background: none;
}

#privacy-policy, #terms h1, h2 {
    color: #ffffffb0;
}

/* #terms {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 2rem;
    color: #8ba3b8;
    background: none;
} */

/* #terms h1, h2 {
    color: #ffffffb0;
} */

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #13172b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(15, 10, 48, 0.1);
}
a {
    color: #3e6bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.logo-link {
    display: block;
    margin-bottom: 2rem;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 0.5rem 0;
    position: relative;
    width: 100%;
}

.nav-item {
    color: #8ba3b8;
    text-decoration: none;
    display: block;
    padding: 1.25rem 1rem; /* Adjusted padding */
    border-radius: 20px; /* Adjusted border radius */
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; /* Ensures full width for alignment */
    box-sizing: border-box; /* Ensure padding and border do not affect width */
}

.nav-item:hover, .nav-item.active {
    background-color: #4d648d;
    color: #ffffff;
}

.commands-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.tab-nav {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #1a1a33;
    color: #8ba3b8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #4d648d;
    color: #ffffff;
}

.tab-content {
    background-color: #13172b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(15, 10, 48, 0.1);
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.command {
    margin-bottom: 20px;
}

.command h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #8ba3b8;
}

.command p {
    margin: 5px 0;
    font-size: 1rem;
}

.changelog-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 10vh;
}

.no-changes {
    background-color: #13172b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(15, 10, 48, 0.1);
}

.indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 4px;
    background-color: #4d648d;
    border-radius: 20px;
    transition: left 0.3s, width 0.3s;
    transform: translateX(-50%);
}

main {
    margin-left: 15vw;
    padding: 0;
    max-width: calc(100% - 15vw);
    background-color: #0d0d1a;
}

#hero {
    text-align: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 2rem;
    color: #8ba3b8;
    background: none; /* No background */
}

#hero h1 {
    margin: 0;
    font-size: 5rem;
}

#hero p {
    font-size: 2rem;
    margin: 1rem 0 2rem;
    color: #c0c0c0;
}

.add-bot-btn {
    background-color: #4d648d;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.3s;
}

.add-bot-btn:hover {
    background-color: #394f6b;
}

.invite-btn {
    background-color: #4d648d;
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.3s;
}

.invite-btn:hover {
    background-color: #394f6b;
}

.arrow {
    font-size: 2em;
    animation: bounce 2s infinite;
    margin-top: 20px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.feature1 {
    background-color: #141428;
    /* background: none; */
    height: 50vh;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 120vh;
    text-align: left;
    color: #c0c0c0;
    margin-bottom: 2rem;
}

.feature2 {
    background-color: #141428;
    /* background: none; */
    height: 50vh;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 120vh;
    text-align: right;
    color: #c0c0c0;
    margin-bottom: 2rem;
}

.feature3 {
    /* background-color: #141428; */
    background: none;
    height: 60vh;
    padding: 2rem;
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    width: 100%;
    max-width: 1200px;
    text-align: center;
    color: #c0c0c0;
    margin-top: 12rem;
    /* margin-bottom: 2rem; */
}

.feature1 h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #8ba3b8;
}

.feature2 h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #8ba3b8;
}

.feature3 h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #8ba3b8;
}

footer {
    color: white;
    background-color: #141428;
    text-align: center;
    padding: 1rem;
    position: fixed;
    /* width: calc(100% - 200px); */
    /* left: 200px; */
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.bubble {
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.bubble.visible {
    opacity: 1;
    transform: translateY(0);
}

.floating-text {
    position: absolute;
    background-color: rgba(27, 40, 99, 0.76);
    color: white;
    padding: 10px 20px; /* Increased padding for larger text area */
    border-radius: 10px; /* Adjust border-radius for larger text */
    font-size: 1.2em; /* Increase font size */
    animation: float 3s ease-in-out infinite;
}

.bubble:nth-child(1) .floating-text:nth-of-type(1) {
    top: 60%;
    left: 10%;
    font-size: 1.5em; /* Increase font size */
}

.bubble:nth-child(1) .floating-text:nth-of-type(2) {
    bottom: 20%;
    left: 35%;
}

.bubble:nth-child(1) .floating-text:nth-of-type(3) {
    bottom: 35%;
    right: 20%;
    font-size: 1.7em; /* Increase font size */
}

.bubble:nth-child(1) .floating-text:nth-of-type(4) {
    bottom: 10%;
    right: 10%;
    font-size: 1.3em; /* Increase font size */
}

.bubble:nth-child(2) .floating-text:nth-of-type(1) {
    top: 40%;
    left: 10%;
    font-size: 1.5em; /* Increase font size */
}

.bubble:nth-child(2) .floating-text:nth-of-type(2) {
    bottom: 25%;
    left: 25%;
    font-size: 1.7em; /* Increase font size */
}

.bubble:nth-child(2) .floating-text:nth-of-type(3) {
    bottom: 40%;
    right: 35%;
}

.bubble:nth-child(2) .floating-text:nth-of-type(4) {
    bottom: 20%;
    right: 10%;
    font-size: 1.3em; /* Increase font size */
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.hamburger-menu {
    display: none; /* Ensure it's visible */
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2000;
    cursor: pointer;
    width: 30px;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1a1a33; /* Ensure it stands out */
    padding: 10px;
    border-radius: 5px;
}

.hamburger-menu div {
    width: 100%;
    height: 4px;
    background-color: #e0e0e0;
    border-radius: 2px;
}

/* Rotate bars for active state (optional for design) */
.hamburger-menu.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active div:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 768px) {

    main {
        margin-left: 0;
        padding: 0;
        max-width: 100%;
        background-color: #0d0d1a;
        overflow-x: hidden;
    }

    .hamburger-menu {
        position: fixed;
        display: flex; /* Show on mobile/tablets */
    }

    .sidebar {
        transform: translateX(-120%); /* Hide sidebar completely off-screen */
        transition: transform 0.3s ease;
        width: 40vw; /* Adjusted width to fit the screen */
        padding: 1rem; /* Adjust padding for mobile */
    }

    .sidebar.active {
        transform: translateX(0); /* Slide sidebar into view */
    }

    .nav-item {
        padding: 0.75rem 0.5rem; /* Adjusted padding for mobile */
        font-size: 0.9rem; /* Smaller font size for mobile */
    }

    .feature1, .feature2 {
        height: 40vh;
        width: 80%;
        max-width: 70vw;
    }

    .feature3 {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .feature1 h2, .feature2 h2, .feature3 h2 {
        font-size: 2.5rem; /* Reduced font size */
    }

    .floating-text {
        display: none; /* Hide floating text on mobile */
    }
}